<!DOCTYPE html>
<html ng-app="fiftyTwoApp">
<head>
	<title>52</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" type="text/css" href="css/global.css">
</head>
<body ng-controller="ProjectController as projectCtrl">
	<div class="hero">
		<div class="container">
			<h1>52</h1>
			<h3>My 52 weeks of code.</h3>
			<h3>My path to becoming a better developer.</h3>
			<h3>- Jefferson Lam</h3>
			<a href="http://www.jeffersonlam.com/about/">About Me</a>
		</div>
	</div>
	<div class="content">
		<h2>Experiments</h2>
		<ul ng-hide="projectCtrl.expanded">
			<li ng-repeat="project in projectCtrl.projects | reverse">
				<a href ng-click="projectCtrl.setActive($index)" class="image" ng-style="{'background-image' : 'url({{project.img}})'}"></a>
			</li>
		</ul>
		<section ng-repeat="project in projectCtrl.projects" ng-show="projectCtrl.isActive($index)">
			<nav>
				<a class="back" href ng-click="projectCtrl.close()">Back</a><br>
				<a class="prev" href ng-click="projectCtrl.showPrev()">prev: {{projectCtrl.projects[projectCtrl.prevProject()].name}}</a>
				<a class="next" href ng-click="projectCtrl.showNext()">next: {{projectCtrl.projects[projectCtrl.nextProject()].name}}</a>
			</nav>
			<a href="{{project.demo}}" class="image" ng-style="{'background-image' : 'url({{project.img}})'}"></a>
			<h3>{{project.name}}</h3>
			<h4>{{project.date}}</h4>
			<h4><a href="{{project.git}}">Github</a></h4>
			<p>{{project.blurb}}</p>
		</section>
	</div>
	<footer></footer>
</body>
</html>